#menu-icon {
  flex-grow: 0.49;
}

#title {
  flex-grow: 0.51;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#app-bar {
  background-color: #ffffff;
  color: #000;
  border-bottom-color: #d3d6da47;
  height: 66px;
  border-bottom-style: groove;
  border-bottom-width: 1px;
  box-shadow: none;
}
